$font-family-inter: 'Inter', sans-serif;
$font-family-gill: 'Gill Sans', sans-serif;
$font-family-hanuman: 'Hanuman';
$color-background: #023721;
$color-white: #FFFFFF;
$color-light-pink: #F9CEDD;

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
         url('fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.woff2') format('woff2'),
         url('fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: $font-family-inter;
    margin: 0;
    background-color: $color-background; 
    color: $color-white;
}

header {
    background-color: $color-background;
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: $color-white;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    position: absolute;
    width: 669px;
    height: 180px;
    left: calc(50% - 669px/2 - 0.5px);
    top: calc(50% - 180px/2 - 300px);
    font-family: $font-family-gill;
    font-weight: 800;
    font-size: 80px;
    line-height: 144px;
    text-indent: 25px;
}

h2 {
    position: absolute;
    width: 750px;
    height: 110px;
    left: calc(50% - 750px/2);
    top: calc(50% - 108px/2 - 240px);
    font-family: $font-family-hanuman;
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $color-white;
}

.logo {
    position: relative;
    width: 83px;
    height: 85px;
    left: 730px;
    top: 105px;
    margin-top: 46px;
}

.logo2 {
    position: relative;
    width: 83px;
    height: 85px;
    left: 550px;
    margin-top: -7px;
}

nav {
    position: absolute;
    width: 100%;
    height: 92px;
    left: 0;
    top: 120px;
    background: $color-light-pink;
}

p {
    color: $color-white;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2em;
    font-family: $font-family-inter;
    font-weight: bolder;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: $color-background;
}

.inter-p {
    font-family: $font-family-inter;
    font-optical-sizing: auto;
    font-weight: bolder;
}

.logo span {
    font-size: 3em;
    color: $color-light-pink; 
    display: block;
    margin: 1em auto;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 10px;
        margin-top: 28px;
        font-weight: 900;
        font-size: 25px;
        font-family: $font-family-gill;
        color: $color-white;
    }
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    color: $color-white;
    text-decoration: none;
}

.description {
    background-color: #fefefe; 
    padding: 20px 200px;
    margin-top: 89px;
}

.gallery {
    display: flex;
    justify-content: center; // Добавлено значение для justify-content
}

.image-container {
    width: 250px;
    margin: 5px;

    img {
        width: 100%;
        height: auto;
    }
}

.inter-button {
    font-family: $font-family-inter;
    font-optical-sizing: auto;
}

.button {
    background: $color-light-pink;
    color: $color-white;
    padding: 15px 30px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    outline: none !important;
    margin: 20px auto;
    text-indent: 5px;

    &:hover {
        text-decoration: none !important;
    }
}

footer {
    background-color: $color-background; 
    padding: 20px 0;
    text-align: center;
    color: $color-white !important;
}

.footers {
    background-color: $color-background; 
    padding: 0;
    text-align: center;
    color: $color-white !important;
}

@media (max-width: 768px) {
    .menu {
        text-align: left;

        li {
            display: block;
            margin: 10px 0;
        }
    }

    .menu-icon {
        display: block;
    }

    .menu {
        display: none;

        &.active {
            display: block;
        }
    }
}

.nav-link {
    margin-left: 180px;
    margin-right: -10px;
    font-weight: 900;
    font-size: 25px;
    font-family: $font-family-gill;
    color: $color-white !important;
}

.dropdown-menu {
    background: $color-light-pink;
    border: none;
    min-width: auto;
    width: auto;
}

.dropdown-item {
    color: $color-white; 
    font-weight: bold; 
    font-size: 20px; 

    &:hover {
        background-color: rgb(255, 255, 255); 
        color: $color-background;
    }
}

.dropdown-divider {
    background-color: $color-white; 
}

.dropdown-menu {
    width: 380px; 
    left: 164px;
}

#dropdown-menu2 {
    width: 261px; 
}

.nav-link2 {
    margin-left: 100px;
    text-decoration: none !important;
    padding-top: 10px;
    font-weight: 900;
    font-size: 25px;
    font-family: $font-family-gill;
    color: $color-white !important;

    &:hover {
        text-decoration: none !important;
    }
}

.nav-item2 {
    margin-top: 8px;
}
